@import '../../../../../../../../../helpers/_variables'

.friend
  display: flex
  flex-flow: row nowrap
  align-items: center

  padding: $padding 0

  color: $grey
  font-size: 14px
  line-height: 14px

  &__icon
    margin-right: $margin

  &:hover
    text-decoration: underline
    color: $sand