@import '@helpers/_variables'

.navigation
  padding: $padding

  color: $grey
  font-weight: 500

  background: $light-black

  overflow-y: scroll

  @media screen and ( max-width: 768px)
    display: flex
    flex-flow: row wrap
    justify-content: space-around

    height: auto
