@import '@helpers/_variables'

.header
  display: flex
  flex-flow: row wrap
  align-items: center

  padding: $padding-sm

  color: $grey

  background-color: $light-black
  border-bottom: 1px solid $black