@import '../../../../../../../../../../../helpers/_variables'

.artist-meta
  &__type
    color: $grey
    text-transform: uppercase
    font-size: $x-small
    letter-spacing: 1px

    @media screen and ( max-width: 522px)
      margin-top: $margin-sm

  &__name
    padding-bottom: $padding-sm

    color: $white
    font-size: $xx-large
    font-weight: 100

  &__actions
    display: flex
    flex-flow: row wrap
