@import '../../../../helpers/_variables'

.arrow-button
  display: inline-block

  color: $grey

  border: none
  outline: none
  background: none

  cursor: pointer

  &:hover
    color: $white

  &_disabled
    color: darken($grey , 30%)

    &:hover
      color: darken($grey , 30%)

      cursor: default

  &_down,
  &_up
    margin-right: $margin-sm
