@import '../../../../helpers/_variables'

.arrow-button
  color: $grey

  border: none
  outline: none
  background: none

  cursor: pointer

  &:hover
    color: $white

  &_disabled
    color: darken($grey , 30%)
