@import '@helpers/_variables'

.devices
  display: flex
  align-items: center

  color: $grey
  text-transform: uppercase
  font-size: $x-small
  line-height: 11px

  border: none
  outline: none
  background: none

  cursor: pointer

  @media (hover)
    &:hover
      color: $sand

  &_active
    color: $green

    @media (hover)
      &:hover
        color: $green

  &__icon
    margin-right: $margin-xs