@import '../../../../helpers/_variables'

.add-to-fav-button
    margin-left: auto

    color: $grey

    border: none
    outline: none
    background: none

    cursor: pointer

    &:hover
      color: $white