@import '@helpers/_variables'

.lyrics
  font-size: $x-small
  text-transform: uppercase
  color: $grey

  @media (hover)
    &:hover
      color: $sand
      text-decoration: underline

  &_active
    color: $green

    @media (hover)
      &:hover
        color: $green