@import '@helpers/_variables'

.tabs
  position: relative

  min-width: 300px

  @media screen and ( max-width: 522px)
    width: 522px

  &__list
    display: flex
  
  &__highlighter
    position: absolute
    bottom: 0

    border-top: 2px solid $green

    transition: transform $highlighter-duration
