@import '@helpers/_variables'

.search
  &__input
    padding-left: $padding-lg
    height: 22px

    color: $black

    border-radius: $border-radius
    border: none
    outline: none
    background: $white
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg)
    background-repeat: no-repeat
    background-size: 22px
    background-position: 5px

    @media screen and ( max-width: 650px)
      width: 100%
