@import '../../../../../helpers/_variables'

.page-flows
  line-height: 10px

  @media screen and ( max-width: 650px)
    width: 20%
    margin: 0

  @media screen and ( max-width: 380px)
    width: 25%
    margin: 0

  &__arrow
    margin: 0 $margin-xs

  &__button
    color: $grey

    border: none
    outline: none
    background: none

    cursor: pointer

    &:hover
      color: $white

    &_disabled
      color: darken($grey , 30%)
