@import '../../../../../helpers/_variables'

.page-flows
  &__arrow
    margin: 0 $margin-sm

  &__button
    color: $grey

    border: none
    outline: none
    background: none

    cursor: pointer

    &:hover
      color: $white

    &_disabled
      color: darken($grey , 30%)
