@import '../../../../../helpers/_variables'

.user
  width: 300px
  margin-left: auto

  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center

  @media screen and ( max-width: 650px)
    justify-content: space-around

    width: 100%
    margin-top: 15px

  &__notifications
    cursor: pointer

    &:hover
      color: $white

  &__inbox
    cursor: pointer

    &:hover
      color: $white