@import '../../../../../helpers/_variables'

.user
  width: 300px
  margin-left: auto

  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center

  &__notifications
    cursor: pointer

    &:hover
      color: $white

  &__inbox
    cursor: pointer

    &:hover
      color: $white