@import '../../../../../../../../../helpers/_variables'

.artist-info
  display: flex
  flex-flow: row wrap
  align-items: flex-end
  z-index: 1

  width: 80%
  padding: $padding
  margin-top: $margin-xl * 1.3

  @media screen and ( max-width: 522px)
    flex-flow: column wrap
    align-items: center
    text-align: center

    margin-top: 0
    width: 100%
