@import '../../../../../../../../../../../helpers/_variables'

.track
  display: flex
  flex-flow: row wrap
  align-items: center

  height: 42px

  border-top: 1px solid $light-black

  &:hover
    background: $light-black

  &:last-child
    border-bottom: 1px solid $light-black

  &__image
    width: 42px
    height: 42px

  &__number
    width: 12px
    margin-left: $margin-sm

    color: $grey

  &__inFavorites
    margin-left: $margin * 2

    color: $sand

  &__title
    width: 45%
    margin-left: $margin * 2

    color: $white
    font-size: 14px

  &__in-media-library
    margin-left: auto
    padding-right: $padding-sm

    color: $grey
    font-size: 14px
