@import '../../../../../../../../../../../helpers/_variables'

.track
  display: flex
  flex-flow: row wrap
  align-items: center

  height: 42px

  border-top: 1px solid $light-black

  &:hover
    background: $light-black

  &:last-child
    border-bottom: 1px solid $light-black

  &__image
    width: 42px
    height: 42px

  &__number
    width: 12px
    margin-left: $margin-sm

    color: $grey

  &__inFavorites
    margin-left: $margin * 2

    color: $sand

  &__title
    width: 45%
    margin-left: $margin * 2

    color: $white
    font-size: 14px
  
  &__title-feat
    color: $grey

    &:hover
      color: $sand
      text-decoration: underline

      cursor: pointer

  &__duration
    margin-left: 40px

    color: $grey
    font-size: 14px

  &__in-media-library
    margin-left: auto
    padding-right: $padding-sm

    color: $grey
    font-size: 14px

  &__popularity
    margin-left: 50px
    padding-right: $padding-sm

    font-size: $large
    color: $grey

.album-track
  &__explicit
    margin-left: auto