@import '../../../../../../../../../helpers/_variables'

.nav-menu
  display: flex
  flex-flow: column wrap
  margin-bottom: $margin

  &__button
    display: inline-block
    text-align: start

    margin-bottom: $margin-xs

    text-transform: uppercase
    letter-spacing: 1px
    font-size: $x-small
    color: $grey

    border: none
    outline: none
    background: none

    cursor: pointer