@import '../../../../../../../../../../helpers/_variables'

.menu-list
  overflow: hidden
  transition: height 0.5s ease-in-out

  &__link
    display: flex
    flex-flow: row nowrap
    align-items: center

    padding: $padding-xs 0

    color: $grey
    font-size: $small
    font-weight: 400

    &:hover
      color: $white
      text-decoration: none

      border-right: 3px solid $green

  &__icon
    margin-right: $margin-sm